.breadcrumbs {
  display:block;
  box-sizing: border-box;
  background: #aeaaea;
  line-height:1.2em;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:10px 15px;
  border-top:0px solid #dedede;
  border-bottom: 0.5px solid #dedede;
  font-size:80%;
  color:#191919;
  font-weight:500;
  text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  white-space:nowrap;
  & a {
    display:inline-block;
    text-decoration:none;
    transition:all .3s ease-in-out;
    color: #111;
    font-weight:400;
    &:hover{
      color:#11589D;
    }
  }
}
/*=== Post Title ===*/
.item-view .post-title {color:var(--color-primary-title);margin:15px 0px;line-height:1.7;font-weight:400;font-family: Roboto, -apple-system, sans-serif; display:block}

/* H1 to H6 
------------------------------*/ 
.item-view .post-body > h1, 
.item-view .post-body > h2, 
.item-view .post-body > h3, 
.item-view .post-body > h4, 
.item-view .post-body > h5, 
.item-view .post-body > h6 {
  font-weight: 400;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: var(--font-ssp);
  } 
.item-view .post-body > h1 {
  font-size: 64px;
  color: #191919;
  line-height: 1.40em;
  font-family: 'Source Sans Pro', sans-serif;
  }

.item-view .post-body > h2 {
  font-size: 40px;
  color: #191919;
  line-height: 1.30em;
  }
 .item-view .post-body > h3 {
  font-size: 33px;
  color: #191919;
  line-height: 1.20em;
  }

.item-view .post-body > h4 {
  font-size: 30px;
  color: #191919;
  line-height: 1.10em;
  }

.item-view .post-body > h5 {
  font-size: 28px;
  color: #191919;
  line-height: 1.00em;
  }

.item-view .post-body > h6 {
  font-size: 25px;
  color: #191919;
  line-height: 0.90em;
  }

/* H1 to H6 Tag Code 
----------------------------*/
.item-view .post-body > h1 code {
  background:#767eeb;
  color:#fff;
  box-sizing: border-box;
  padding: 4px 4px;
  border-radius: 5px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.item-view .post-body > h2 code {
  background:#767eeb;
  color:#fff;
  box-sizing: border-box;
  padding: 3px 3px;
  border-radius: 5px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.item-view .post-body > h3 code {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;    
  letter-spacing: -0.05rem; 
  opacity: 0.3;
  }
.item-view .post-body > h5 code {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;    
  letter-spacing: -0.05rem; 
  opacity: 0.3;
}

.item-view .post-body > p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  font-family: var(--font-ssp);
}
.item-view .post-body > .all a[target=_blank]::after,
.post-body p a[target=_blank]::after{
  content: "\f08e";
  font-family: FontAwesome;
  margin-left: 3px;
  position: relative;
}
.all code,
.item-view .post-body ol.code li code,
.item-view .post-body ul.code li code,
.item-view .post-body p code {
  color: #202763;
  font-size: 14px;
  margin: 0px 2px;
  padding: 2px 2px;
  border-radius: 2px;
  background: #CFDBEA;
  box-sizing: border-box;
  font-family: 'Monospace', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.item-view .post-body > ol li,
.item-view .post-body > ul li {
  font-size: 16px;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  }

/*=== Tag hr ===*/
.item-view .post-body hr {
  width: 100%;
  border: 1px #aeaafe solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  } 

/*=== Tag Img ===*/
.item-view .post .post-body img {
  border-radius: 5px;
  } 

.breadcrumbs svg{
width:20px;
height:20px;
vertical-align:-4px;
}
.breadcrumbs svg path{fill:#111}
.line-bottom{
                width: 100%;
                height: 2px;
                position: relative;
                display: block;
                background: linear-gradient(to right, /*Fuchsia*/#FF00FF, /*Blue*/#434DED, /*Lime*/#D00AFF);

}
