.breadcrumbs {
  display:block;
  box-sizing: border-box;
  background: #bfc7f5;
  line-height:1.2em;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:10px 15px;
  border-top:0px solid #dedede;
  border-bottom: 0.5px solid #dedede;
  font-size:80%;
  color:#191919;
  font-weight:500;
  text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  white-space:nowrap;
  & a {
    display:inline-block;
    text-decoration:none;
    transition:all .3s ease-in-out;
    color: #111;
    font-weight:400;
    &:hover{
      color:#11589D;
    }
  }
  & svg{
  width:20px;
  height:20px;
  vertical-align:-4px;
    & path{fill:#111}
  }
}
/*=== Post Title ===*/
.item-view .post-title {color:var(--color-primary-title);margin:15px 0px;line-height:1.7;font-weight:400;font-family: Roboto, -apple-system, sans-serif; display:block}

/* H1 to H6 
------------------------------*/ 
.item-view .post-body > h1, 
.item-view .post-body > h2, 
.item-view .post-body > h3, 
.item-view .post-body > h4, 
.item-view .post-body > h5, 
.item-view .post-body > h6 {
  font-weight: 400;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: var(--font-ssp);
  color: var(--color-primary-title);â°
  } 
.item-view .post-body > h1 {
  font-size: 40px;
  line-height: 1.4em;
  }

.item-view .post-body > h2 {
  font-size: 36px;
  line-height: 1.30em;
  }
 .item-view .post-body > h3 {
  font-size: 33px;
  line-height: 1.20em;
  }

.item-view .post-body > h4 {
  font-size: 30px;
  line-height: 1.10em;
  }

.item-view .post-body > h5 {
  font-size: 27px;
  line-height: 1.00em;
  }

.item-view .post-body > h6 {
  font-size: 24px;
  line-height: 0.90em;
  }

/* H1 to H6 Tag Code 
----------------------------*/
.item-view .post-body > h1 code {
  background:#767eeb;
  color:#fff;
  box-sizing: border-box;
  padding: 4px 4px;
  border-radius: 5px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.item-view .post-body > h2 code {
  background:#767eeb;
  color:#fff;
  box-sizing: border-box;
  padding: 3px 3px;
  border-radius: 5px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.item-view .post-body > h3 code {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;    
  letter-spacing: -0.05rem; 
  opacity: 0.3;
  }
.item-view .post-body > h5 code {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;    
  letter-spacing: -0.05rem; 
  opacity: 0.3;
}
.item-view .post-body > ol li,
.item-view .post-body > ul li,
.item-view .post-body > p {
  font-size: 16px;
  color: #002233;
  margin-bottom: 30px;
  display: inline-block;
  font-family: var(--font-ssp);
}
.item-view .post-body > .all a[target=_blank]::after,
.post-body p a[target=_blank]::after{
  content: "\f08e";
  font-family: FontAwesome;
  margin-left: 3px;
  position: relative;
}
.all code,
.item-view .post-body ol.code li code,
.item-view .post-body ul.code li code,
.item-view .post-body p code {
  color: #202763;
  font-size: 14px;
  margin: 0px 2px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #CFDBEA;
  box-sizing: border-box;
  font-family: 'Monospace', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

/*=== Tag hr ===*/
.item-view .post-body hr {
  width: 100%;
  border: 1px #aeaafe solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  } 

/*=== Tag Img ===*/
.item-view .post-body > img {
  max-width: 100%;
  border-radius: 5px;
  }
.content-code {
  height: 500px;
  width: 80%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  color: #6f6f6f;
  background: #767eeb;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #000000 inset;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #000000 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.frex-faq {
  height: none;
  display: block;
  &  ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0px 0;
  padding-left: 30px;
  & li.dropdown {
  z-index: 1;
  border-radius: 5px;
  margin-bottom: 3px;
  padding-top: 120px;
  &:target{
    transition: 1.5s;
      & .content{
      transition: 0.5s;
    }
   }
  }
 }
}





.frex-faq .dropdown a span {
  font-size: 1.2em;
  text-decoration: none;
}

.frex-faq .dropdown [data-toggle="dropdown"] {
  z-index: 1;
  color: #4a0e0a;
  font-size: 21px;
  font-weight: 600;
  position: relative;
  display: block;
 
  border-radius: 5px;
  /*-moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
  padding: 0px;
  padding-right: 60px;
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  
  margin-top: -120px;
  position: relative;
  cursor: default;
}

.frex-faq .dropdown [data-toggle="dropdown"]:hover {
  
}

.frex-faq .dropdown a i.icon-arrow {
  position: absolute;
  font-size: 1.3em;
  color: #fff;
  margin-top: -1px;
  right: 17px;
}

.frex-faq .dropdown .icon-arrow.open {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.frex-faq .dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.frex-faq .dropdown .icon-arrow:before {
  content: '\f077';
  font-family: FontAwesome;
}

.frex-faq .dropdown .content {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.frex-faq .dropdown .dropdown-menu li {
  padding: 0;
}

/*.dropdown .dropdown-menu ul li code {
  background-color: transparent;
}*/

.frex-faq .dropdown .dropdown-menu li .content-code {
  
  padding: 0px 0px;
}
 
.frex-faq .dropdown .dropdown-menu li {
  height: none;
}

.frex-faq .dropdown .show, .dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.frex-faq .dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.frex-faq .dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
/*
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}*/
.frex-faq {
  padding: 5px 15px;
  
  }

/*== Lisensi ==*/
.Frasa-lisensi-Article {
  margin: 20px 0px;
  position: relative;
  padding: 5px 15px;
  & > p {
    color: #444;
    font-size: 13px;
    font-weight: 400px;
    line-height: 1.5;
    & > a {
      color: var(--color-primary-link);
      font-size: 13px;
      &:focus,&:hover{
        text-decoration: underline;
        }
      }
    }
  & > span {
    top: 20px;
    color: #444;
    font-size: 13px;
    font-weight: 500px;
    line-height: 1.5;
    position: relative;
    }
  }
 .item-view .post .TimerPage {
  margin-top: 30px;
  & .DateTime {
    font-size: 13px;
    }
  & p {
    font-size: 12px;
    }
  }
.item-view .post .post-timestamp {
  color: #191919;
  font-size: 0.8em;
  margin: 15px 15px;
  margin-bottom: 0em;
  }
